@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --background: 0, 0%, 100%, 50%;
    --foreground: 0, 0%, 16%;
    --primary: 43, 100%, 69%; /* #FFD361 yellow */
    --secondary: 43, 0%, 16%; /* #2A2A2A grey */
    --light: 0, 0%, 100%; /* weiß */
    --third: 189, 62%, 29%; /* #1C6976 petrol*/
    --shadow: 240, 26%, 89%;
    --popover: 220 14% 96%;
    --popover-foreground: 240, 29%, 10%;
    --border: 4, 87%, 62%;
    --radius: 2rem;
  }
  .dark{
    --background: 0, 0%, 100%, 10%;
    --foreground:  220, 14%, 96%;
    --primary: 339, 42%, 44%;
    --secondary: 295, 49%, 13%;
    --light: 237, 100%, 96%;
    --third: 212, 17%, 55%;
    --shadow: 240, 26%, 89%;
    --popover: 240, 29%, 10%;
    --popover-foreground: 220, 14%, 96%;
    --border: 4, 87%, 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background: hsla(40, 88%, 84%, 1);
    background: linear-gradient(135deg, hsla(40, 88%, 84%, 1) 0%, hsla(0, 0%, 93%, 1) 65%);
    background: -moz-linear-gradient(135deg, hsla(40, 88%, 84%, 1) 0%, hsla(0, 0%, 93%, 1) 65%);
    background: -webkit-linear-gradient(135deg, hsla(40, 88%, 84%, 1) 0%, hsla(0, 0%, 93%, 1) 65%);
  }
  .dark body {
    background: hsla(203, 95%, 24%, 1);
    background: linear-gradient(135deg, hsla(203, 95%, 24%, 1) 0%, #010e32 54%, hsla(295, 49%, 13%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(203, 95%, 24%, 1) 0%, hsla(224, 96%, 10%, 1) 54%, hsla(295, 49%, 13%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(203, 95%, 24%, 1) 0%, hsla(224, 96%, 10%, 1) 54%, hsla(295, 49%, 13%, 1) 100%);
  }
}

.rpv-core__inner-page{
  background-color: transparent;
  border:none;
  border-radius: 2rem;
}

.rpv-core__inner-page-container .rpv-core__inner-page {
  background-color: transparent;
  border:none;
  border-radius: 2rem;
}

.my-menu {
  border: none;
  border-radius: 10%;
  background-color: hsl(0, 0%, 100%)
}

.dark .my-menu {
  background-color: hsl(214, 48%, 25%)
}
